<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Loader</title>
</head>
<body>
    <h2>Stock Loader</h2>

    <form method="POST">
        {% csrf_token %}
        <h2>Enter date</h2>
        <div>
            <label>Date</label>
            <input type="date" name="date">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>